:root {
  /* Font*/
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Colors*/
  --body-grey-cl: #434455;
  --body-white-bg: #FFFFFF;
  --link-grey-cl: #2e2f42;
  --text-grey-cl: #434455;
  --hover-focus-cl: #404BBF;
  --logo-cian-cl: #4D5AE5;
}

/* Gap*/
--items: 3;
--indent: 24px;


/* Others*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  |============================
  | Common styles
  |============================
*/

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: --body-grey-cl;
  background: var(--body-white-bg)
}

/* Reset*/
a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}


/* Base styles*/

.section {
  padding-top: 60px;
  padding-bottom: 50px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--link-grey-cl);
  text-decoration: none;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--items);
}
calc((100% - 2*var(--indent)) / var);
.card-set-item {
  flex-basis: calc((100% - var(--indent * var(--items)-1 )) / var(--items));
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-cian-cl);
  margin-right: 76px;
}

.header-studio {
  font-family: var(--secondary-font);
  color: var(--link-grey-cl);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-item {}

.header-link:hover,
.header-link:focus {
  color: var(--hover-focus-cl);
}


.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address {}

.header-contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--hover-focus-cl);
}

.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-grey-cl);
}

/**
  |============================
  | Hero styles
  |============================
*/

.hero {
  background: #2E2F42;
  padding-top: 188px;
  padding-bottom: 188px;
  }

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: flex;
  width: 496px;
  margin-left: 310px;
  justify-content: center;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-focus-cl);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4D5AE5;
  color: #FFFFFF;

}

/**
  |============================
  | Feature styles
  |============================
*/
.feature {
  padding-top: 120px;
}

.feature-title {
  display: none;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  width: 264px;
}

.feature-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.feature-text {
  color: var(--text-grey-cl);
}

/**
  |============================
  | Services styles
  |============================
*/
.services {}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.services-list {}

.services-item {}

.services-img {}



/**
  |============================
  | Team styles
  |============================
*/

.team {
  padding-bottom: 120px;
  background: #F4F4FD;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.team-list {}

.team-item {}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.team-text {
  color: var(--text-grey-cl);
}

.team-img {}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2E2F42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-cian-cl);
}

.footer-studio {
  font-family: "Raleway", sans-serif;
  color: #F4F4FD;
}

.footer-text {
  font-family: var(--primary-font);
  color: #F4F4FD;
}

/**
  |============================
  | Portfolio styles
  |============================
*/

/**
  |============================
  | Filter btn
  |============================
*/
.filter-title {}

.filter-list {
  display: flex;
  
}

.filter-item {}

.filter-btn-all {
  font-weight: 500;
  color: #FFFFFF;
  background: #404BBF;
}

.filter-btn {
  font-weight: 500;
  color: #4D5AE5;
  background: #F4F4FD;
}

/**
  |============================
  | Filter items
  |============================
*/
.list-block {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;

}

.item-site {
  width: calc((100% - 2 * 48px) / 3);
}

.filter-link {}

.filter-img {}

.filter-subtitle {
  color: var(--body-grey-cl)
}

.filter-text {
  color: var(--text-grey-cl);
}